body {
    margin: 0;
    padding: 0;
}
.login_form {
    width: 35%;
    height: 37vw;
    background-color: #ededed;
    border-radius: 10px;
    margin: 15px auto;
}
.text_form {
    text-align: center;
    font-size: 13px;
    color: #3b61d1;
}
.line_form {
    width: 100%;
    height: 1px;
    background-color: #d8d8d8;
}
.link_button_register {
    width: 21vw;
    margin: 1vh auto;
}
.register_form {
    width: 60vw;
    height: 37vw;
    background-color: #ededed;
    border-radius: 10px;
    margin: 15px auto;
}
.title_blog_page {
    margin-top: 6vh;
    color: #144729;
    height: 8vh;
    font-size: 2.5rem;
    width: 20vw;
    border-bottom: 3px solid #144729;
}
.title_admin_page{
  margin-top: 6vh;
  color: #191F5A;
  height: 8vh;
  font-size: 2.5rem;
  width: 20vw;
  border-bottom:3px solid #144729;
}
.body_blog{
    margin: 0 auto;
    width: 80vw;
}
.img_blog_page {
    width: 100%;
    height: 55vh;
}
.img_blog_container {
    position: relative;
}
.text_img_blog {
    color: #ffffff;
    width: 33vw;
    position: absolute;
    bottom: 2vh;
    left: 4vw;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
}
.titulo_blog_page {
    text-align: center;
    color: #144729;
    font-size: 2.5rem;
    padding: 4vh 0;
}
.datos_card_component {
    margin-top: 1.5vh;
    display: flex;
    justify-content: center;
}
.blog_page__container {
    height: 290vh;
}
.recient_blog__container {
    display: flex;
    justify-content: space-between;
}
.title_vermas{
    text-align: center;
    color: #144729;
    margin: 6vh 0;
    font-size: 2.8rem;
}
.img_blog_vermas{
    width: 100%;
    height: 55vh;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.55);
}
body,
html {
    margin: 0;
    padding: 0;
    /* height: 100%; */
}

.banner {
    position: relative;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 100px;
}

.imgBanner {
    width: 1050px;
    height: auto;
    position: relative;
    z-index: 1;
    border-radius: 20px;
}

.oval {
    border-radius: 50%;
    position: absolute;
    z-index: 0;
}
.yellow {
    width: 1000px;
    height: 830px;
    background-color: #f2ae2f;
    left: -200px;
    bottom: -200px;
}

.green {
    width: 420px;
    height: 600px;
    background-color: #2bb060;
    right: -100px;
    top: -100px;
}

.title_section {
    height: 100px;
    display: flex;
    align-items: center;
}

.title_logo {
    height: 50px;
    width: auto;
    margin-left: 30px;
}

.title_store {
    margin-left: 30px;
    border-left: solid white;
}

.text_title {
    margin-left: 30px;
    color: white;
}

.contain_store {
    justify-content: center;
    height: 420px;
    display: flex;
    background: rgba(32, 56, 128, 0.2);
}
.contain_blogs {
    align-items: center;
    justify-content: center;
    height: 470px;
    display: flex;
    background: rgba(108, 148, 122, 0.2);
}
.contain_cursos {
    justify-content: center;
    height: 400px;
    display: flex;
    background: rgba(183, 142, 155, 0.2);
}

.button_section {
    height: 100px;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 5% 100%);
    text-align: center;
    display: flex;
    align-items: center;
}
.store {
    background-color: #203880;
}
.blogs {
    background-color: #2bb060;
}
.cursos {
    background-color: #80203d;
}

.text_button_section {
    margin-left: 45%;
    line-height: 100px;
    color: white;
}

.contain_section {
    margin-bottom: 100px;
}

.multimedia_banner {
    background-color: #80203d;
    width: 100%;
    height: auto;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
}

.multimedia_logo_banner {
    height: 75px;
    width: auto;
    margin-left: 40px;
}

.multimedia_img_banner {
    width: 850px;
    height: auto;
    margin: 40px;
}
.contain_img_text {
    display: flex;
}

.contain_text_multimedia {
    margin: 50px;
}

.multimedia_title {
    color: white;
    font-weight: 400;
    font-size: 35px;
}

.multimedia_text {
    color: white;
    font-weight: 300;
    line-height: 1.5;
    font-size: 22px;
}

.title_multimedia {
    margin-left: 30px;
    border-left: solid white;
}

.contain_logo_title {
    height: 100px;
    display: flex;
    align-items: center;
}

.title_multimedia_text {
    margin: 10px;
    margin-left: 30px;
    color: white;
    font-weight: 500;
    letter-spacing: 4px;
    font-size: 35px;
}

.contain_videos {
    margin: 40px;
}

.contain_text_video {
    width: 500px;
    border-bottom: solid #80203d;
    margin-left: 40px;
}
.text_video_reciente {
    color: #80203d;
    font-weight: 400;
}
.contain_carrusel {
    text-align: center;
    display: flex;
    overflow: hidden;
}

.img_carrusel{
  width: 450px;
  height: auto;
  margin: 40px;
}
.input_blog_add{
  margin-top: 10vh;
  width: 100%;
  height: 7vh;
  border-radius: 7px;
  border: solid 2px #235F3B;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.5rem;
  color: #235F3B;
}
.input_blog_add_image input{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
  background-color: red;
  opacity: 0;
}
.input_blog_add_image{
  margin-top: 3vh;
  height: 45vh;
  border-radius: 6px;
  border: 5px dashed grey;
  position: relative;
}
.input_blog_add_image p{
  font-size: 2rem;
  color: #838383;
  text-align: center;
  position: relative;
  top:30%;
  font-weight: bold;
}
.input_blog_add_image_ready{
  margin-top: 3vh;
  height: 45vh;
  border-radius: 6px;
  position: relative;
  border: 5px dashed grey;
}

.img_agregada{
  width: 100%;
  height: 100%;
  position: relative;
}
.img_agregar_icon{
  width: 5vw;
  height: 10vh;
  position: relative;
  top: 35%;
  left: 46%;
}
.card_admin__container{
  margin-top: 7vh;
  display: flex;
  justify-content: space-between;
}
.upload_again_button{
  position: absolute;
  z-index: 3;
  top: 0.5vw;
  left: 0.5vw;
}
.button_add_blog{
  margin-top: 2vw;
}