body{
    padding: 0;
    margin: 0;
}
.login_form{
    width: 35%;
    height: 37vw;
    background-color: #EDEDED;
    border-radius: 10px;
    margin: 15px auto;
}
.text_form{
    text-align: center;
    font-size: 13px;
    color: #3B61D1;
}
.line_form{
    width: 100%;
    height: 1px;
    background-color: #D8D8D8;
}
.link_button_register{
    width: 21vw;
    margin: 1vh auto;
}
.register_form{
    width: 60vw;
    height: 37vw;
    background-color: #EDEDED;
    border-radius: 10px;
    margin: 15px auto;
}
.title_blog_page{
    color: #144729;
    height: 8vh;
    font-size: 2.5rem;
    width: 20vw;
    border-bottom:3px solid #144729;
}
.body_blog{
    margin: 0 auto;
    width: 80vw;
}
.img_blog_page{
    width: 100%;
    height: 55vh;
}
.img_blog_container{
    position: relative;
}
.text_img_blog{
    color: #ffffff;
    width: 30vw;
    position: absolute;
    bottom: 2vh;
    left: 4vw;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.80);
}
.titulo_blog_page{
    text-align: center;
    color: #144729;
    font-size: 2.5rem;
    padding: 4vh 0;
}
.datos_card_component{
    margin-top: 1.5vh;
    display: flex;
    justify-content: center;
}
.blog_page__container{
    height: 290vh;
}
.recient_blog__container{
    display: flex;
    justify-content: space-between;
}