.nav__container{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #203880;
}
.logo{
    margin-left: 26vw;
    width: 14vw;
    height: 10vh;
    color: white;
}
.title_form{
    color: #203880;
    padding-top: 30px;
    text-align: center;
}
.input_form{
    width: 20vw;
    height: 2.5vw;
    font-size: 17px;
    padding: 10px 10px;
    border-radius: 5px;
    border: 2px solid #B7B7B7;
    background-color: transparent;
}
.password__container{
    display: flex;
    position: relative;
    align-items: center;
}
.imagen_password{
    position: absolute;
    right: 10px;

    width: 1.5vw;
    height: 3vh;
}
.input_form:focus{
    outline: none;
    border: 2px solid #203880;
}
.inputForm__container{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.button_form{
    width: 21vw;
    height: 4vw;
    font-size: 20px;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: #203880;
    border: none;
    color: #ffffff;
    font-weight: bold;
    margin: 1vh;
}
.button__container{
    display: flex;
    justify-content: center;
}
.button_transparent{
    width: 21vw;
    height: 4vw;
    font-size: 20px;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: transparent;
    border: 3px solid #203880;
    color: #3B61D1;
    font-weight: bold;
}
.inputFormLogin{
    margin-top: 6vh;
}
.text_cuenta{
    color: #3B61D1;
    margin: 1vh;
}
.register__container{
    display: flex;
    justify-content: center;
}
.colum{
    margin: 0 2vw;
}
.list_text{
    color: #676767;
    font-size: 10px;
    margin-right: 2vw;
}
.terminos{
    text-align: center;
    color: #676767;
    font-size: 10px;
}
.title_form_register{
    color: #203880;
    padding-top: 3vh;
    text-align: center;
}
.banner__container{
    width: 100%;
    height: 82vh;
    background-color: #20802A;
    color: #ffffff;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
}
.titles_banner{
    display: flex;
    align-items: center;
}
.line_banner{
    background-color: #ffffff;
    width: 0.3vw;
    height: 8vh;
    border-radius: 3px;
}
.title_banner{
    padding: 10px 35px;
    font-weight: bold;
}
.img_logo{
    padding: 10px 10px 0px 26px;
}
.img_banner{
    margin-left: 40px;
}
.part_down{
    margin-top: 25px;
    display: flex;
}
.texts_banner{
    width: 25vw;
}
.texts_banner{
    margin-left: 3vw;
}
.text_banner_content{
    font-size: 1.5rem;
    line-height: 32px;
}
.title_banner_question{
    padding: 0;
    margin: 0;
}
.card_blog__container{
    width: 24vw;
    height: 46vh;
    border-radius: 8px;
    box-shadow: 0px 10px 4px rgba(0,0,0,0.25);
}
.image_card_blog{
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    height: 10vw;
}
.text_card_blog{
    padding-top: 1vh;
    width:20vw;
    color: #20802A;
    margin: 0 auto;
    font-size: 1.3rem;
    font-weight: bold;
}
.datos_blog__container{
    display: flex;
    align-items: center;
    width: 20vw;
    height: 3vh;
    background-color: #20802A;
    border-radius: 5px;
}
.datos_blog_text{
    margin-left: 0.4vw;
    font-size: 0.7rem;
    color: #ffffff;
}
.text_card_footer{
    padding-top: 1vh;
    width: 20vw;
    margin: 0 auto;
    font-size: 0.8rem;
}