.main-section-banner {
  /* width: 100%; */
  border-top: 6px solid white;
  padding-top: 4vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 8vh;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.58);
}

.msb-head {
  display: flex;
  justify-content: left;
  /* background-color: blue; */
}

.msb-logo {
  width: 14vw;
  height: 10vh;
}

.line-up {
  width: 0.17vw;
  border-radius: 5px;
  height: 7vh;
  background: white;
  margin-top: 1vh;
  margin-left: 1vw;
}

.msb-title-section {
  margin-left: 1.5vw;
  margin-top: 1.2vh;
  font-size: 1.8rem;
  color: white;
  font-weight: 700;
}

.msb-body {
    margin-top: 3vh;
  display: flex;
  justify-content: space-between;
}

.img-msb-body {
  margin-top: 1vh;
  width: 55vw;
  height: 51vh;
}

.content-msb-body {
  /* margin-right: 2vw; */
  margin-left: 2vw;
  color: white;
}

.content-msb-body h2 {
  width: 40vw;
  font-size: 1.8rem;
}

.content-msb-body p {
  font-size: 1.2rem;
  margin-top: 1vh;
  width: 38vw;
  line-height: 2.3rem;
}

.collection-title{
    color: #191F5A;
}

.collection-container{
    margin-left: 8.785vw;
    margin-top: 9vh;
}

/* CAROUSEL CSS */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
